name: Build OpenSSL for Windows
on:
  workflow_dispatch:
    inputs:
      sslref:
        description: "OpenSSL version to build (Version Number)"
        required: true
        default: 'openssl-3.5.4' #LTS Version is default always and will be updated.
      nasmurl:
        description: "NASM Zip link"
        required: true
        default: 'https://nasm.us/pub/nasm/releasebuilds/2.16.03/win64/nasm-2.16.03-win64.zip'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Output User Profile path
        id: osslout
        shell: cmd
        run: echo uslp=%programfiles%\OpenSSL>>"%GITHUB_OUTPUT%"
      - name: Install Deps
        shell: cmd
        run: |
              set PATH=%PATH%;%programfiles%\7-Zip\
              curl -s -L -o "nasm.zip" "${{ inputs.nasmurl }}"
              7z e -tzip -o"%programfiles%\nasm" "nasm.zip"
        # curl -s -L -o "openssl.tar.gz" "${{ inputs.sslrel }}"
        # 7z x -so "openssl.tar.gz" | 7z x -ttar -si -o".\"
      - name: Clone OpenSSL
        uses: actions/checkout@v5
        with:
          repository: openssl/openssl
          ref: ${{ inputs.sslref }}
      - name: Configure MSVC CMD for amd64
        uses: ilammy/msvc-dev-cmd@v1.13.0
        with:
          arch: amd64
      - name: Build OpenSSL
        shell: cmd
        run: |
              set PATH=%PATH%;%programfiles%\7-Zip\;%programfiles%\nasm
              echo perl Configure VC-WIN64A-HYBRIDCRT --prefix="${{ steps.osslout.outputs.uslp }}" --release no-makedepend>>buildosl.bat
              buildosl.bat
              nmake
              nmake test
              nmake install
      # 7z a -tzip -mx9 -o"%userprofile%" "openssl-amd64.zip" "%programfiles%\OpenSSL\"
      - name: Upload OpenSSL All Files
        uses: actions/upload-artifact@v4
        with:
          name: opensslwin-all
          path: '${{ steps.osslout.outputs.uslp }}'
          compression-level: 9
          include-hidden-files: true
      - name: Upload OpenSSL Binaries
        uses: actions/upload-artifact@v4
        with:
          name: opensslwin-bin
          path: '${{ steps.osslout.outputs.uslp }}\bin'
          compression-level: 9
          include-hidden-files: true
      - name: Upload OpenSSL Common Files
        uses: actions/upload-artifact@v4
        with:
          name: opensslwin-common
          path: 'C:\Program Files\Common Files\SSL'
          compression-level: 9
          include-hidden-files: true
